/* body {
    background-color: #222130;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: url('https://cur.cursors-4u.net/cursors/cur-2/cur113.cur'), auto;
    font-family: sans-serif;
  }  */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  overflow: auto;
  font-family: 'Hanken Grotesk', sans-serif;
 background: radial-gradient(circle, rgba(44,44,60, 1) 0%, rgb(25, 24, 31) 100%); 
  height: 100vh;
  width: 100vw;
  /* color: #3e3e64; */

}
  


html,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: #222130; */
  /* background-color: #1d1c25; */
  /* background-image: url(https://img.freepik.com/free-vector/blurred-abstract-background-design_1107-169.jpg?w=2000&t=st=1706200718~exp=1706201318~hmac=6998d8adb64a2ea68c5f75f354698c93c53991a6bd012012fa955b8c73718976); */
/* background-image: url(https://i.pinimg.com/originals/60/15/9f/60159f45955be086e295dd9400ceee86.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover; */

  margin: 0;
  padding: 0;
  /* overflow: auto; */
  /* overflow-x: auto;
  overflow-y: auto; */
/* background: rgb(33,30,38);*/
/* background: #211e26; */
}

.app {
  display: flex;
  position: relative;
}

.graph-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  background-color: rgba(0,0,0,.2);
  color: #fff;
  border-radius: 1;
  border: 0.2;
  border-color: "gray";
}

.card-container {
background: rgb(33,30,38);
background: radial-gradient(circle, rgba(33,30,38,1) 0%, rgba(44,44,60,1) 100%);
}



        /* background: 'rgba( 255, 255, 255, 0.25 )',
backdropFilter: 'blur( 4px )',
borderRadius: '10px',
border: '1px solid rgba( 255, 255, 255, 0.18 )',
boxShadow: '0px 0px 23px 8px rgba(227,214,255,0.08)', 
} */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
 
::-webkit-scrollbar-track {
  background-color: transparent;

}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(104, 112, 250, 0.8); 


}
::-webkit-scrollbar-thumb:active {
  background: rgba(104, 112, 250, 0.9); 
}

.react-flow__node {
  /* filter: blur(1px); */
  font-size: 14px;
  text-align: left;
  border: 1px solid #e0e0e0;
  /* background-color: #6870fa; */
  z-index: 2;
  /* padding: 10px 20px; */
  width: 150px;
  height: 200px;
  border-radius: 10px;
  overflow: scroll;
  color: #e0e0e0;
  overflow: hidden; 
  /* background: rgba( 255, 255, 255, 0.25 ); */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 4x );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* box-shadow: 0px 0px 23px 8px rgba(227,214,255,0.08); */

    .scrollable-content {
  overflow-y: auto;
  overflow-x: auto;
  
  height: 100%;
  /* padding-right: 15px;  */
}

.scrollable-content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(104, 112, 250); 
  border-radius: 10px;
  transition: background 0.1s ease-in-out;
}

.scrollable-content::-webkit-scrollbar-corner {
  background: transparent;
}
}

.react-flow__edge {
  /* filter: blur(1px); */
  color: #ffffff;
  /* z-index: 1; */
}






.react-flow__node h3 {
  text-align: center;
  margin-top: .3rem;
  margin-bottom: 1rem;
  font-size: 16px;
  /* color: #ff1673; */
  color: white;
  /* text-shadow: 1px 1px 5px #41373b; */
  border-bottom: .3px solid #e0e0e0bb;
  line-height: 2.1rem;
}
.react-flow__node ul {
  margin-top: -.3rem;
}

.react-flow__node:hover {
  filter: blur(0px);
}

.react-flow__handle {
  background-color: #e0e0e0;
  color: #e0e0e0;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 10px;
  height: 10px;
  z-index: 2;
}