/* body {
    background-color: #222130;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: url('https://cur.cursors-4u.net/cursors/cur-2/cur113.cur'), auto;
    font-family: sans-serif;
  }  */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #222130;
  /* background-image: url(https://img.freepik.com/free-vector/blurred-abstract-background-design_1107-169.jpg?w=2000&t=st=1706200718~exp=1706201318~hmac=6998d8adb64a2ea68c5f75f354698c93c53991a6bd012012fa955b8c73718976); */
background-image: url(https://i.pinimg.com/originals/60/15/9f/60159f45955be086e295dd9400ceee86.jpg);
/* background-image: url(https://i.pinimg.com/originals/60/15/9f/60159f45955be086e295dd9400ceee86.jpg); */
/* background-image: url(https://i.pinimg.com/originals/60/15/9f/60159f45955be086e295dd9400ceee86.jpg); */
  /* opacity: 0.75; */
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: url("https://cur.cursors-4u.net/cursors/cur-2/cur113.cur"), auto;
}
body:before {
    content: "";
 position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* background-color: rgba(0,0,0,0.25); */
       z-index: -1;
      background-color: transparent;
  filter: blur(5px);
  opacity: 0.5;
}
.app {
  display: flex;
  position: relative;
}



.react-flow__node {
  /* filter: blur(1px); */
  font-size: 14px;
  text-align: left;
  border: 1px solid #e0e0e0;
  /* background-color: #6870fa; */
  z-index: 2;
  /* padding: 10px 20px; */
  width: 150px;
  height: 200px;
  border-radius: 10px;
  overflow: scroll;
  color: #e0e0e0;
  overflow: hidden; 
  background: rgba( 255, 255, 255, 0.25 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
box-shadow: 0px 0px 23px 8px rgba(227,214,255,0.08);

}
.react-flow__edge {
  /* filter: blur(1px); */
  color: #ffffff;
  /* z-index: 1; */
}
.scrollable-content {
  overflow-y: auto;
  height: 100%;
  padding-right: 15px; 
}

.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: rgba(104, 112, 250, 0.01); 
  border-radius: 10px;
  transition: background 0.1s ease-in-out;
}
.react-flow__node h3 {
  text-align: center;
  margin-top: .3rem;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #e0e0e0;
  border-bottom: .3px solid #e0e0e0bb;
  line-height: 2.1rem;
}
.react-flow__node ul {
  margin-top: -.3rem;
}

.react-flow__node:hover {
  filter: blur(0px);
}

.react-flow__handle {
  background-color: #e0e0e0;
  color: #e0e0e0;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 10px;
  height: 10px;
  z-index: 2;
}



::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;

}




/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(104, 112, 250, 0.01); 
  border-radius: 10px;
  transition: background 0.1s ease-in-out;
}


::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #6870fa; 
}

/*






grey {
          color: #e0e0e0;
          color: #c2c2c2;
          color: #a3a3a3;
          color: #858585;
          color: #666666;
          color: #525252;
          color: #3d3d3d;
          color: #292929;
          color: #141414;
          color: #26262b;

        }
        primary {
          color: #d0d1d5;
          color: #a1a4ab;
          color: #727681;
          color: #1F2A40;
          color: #141b2d;
          color: #101624;
          color: #0c101b;
          color: #080b12;
          color: #040509;
        }
        greenAccent {
          color: #dbf5ee;
          color: #b7ebde;
          color: #94e2cd;
          color: #70d8bd;
          color: #4cceac;
          color: #3da58a;
          color: #2e7c67;
          color: #1e5245;
          color: #0f2922;
        }
        redAccent {
          color: #f8dcdb;
          color: #f1b9b7;
          color: #e99592;
          color: #e2726e;
          color: #db4f4a;
          color: #af3f3b;
          color: #832f2c;
          color: #58201e;
          color: #2c100f;
        }
        blueAccent {
          color: #e1e2fe;
          color: #c3c6fd;
          color: #a4a9fc;
          color: #868dfb;
          color: #6870fa;
          color: #535ac8;
          color: #3e4396;
          color: #2a2d64;
          color: #151632;
        }

        grey {
          color: #141414;
          color: #292929;
          color: #3d3d3d;
          color: #525252;
          color: #666666;
          color: #858585;
          color: #a3a3a3;
          color: #c2c2c2;
          color: #e0e0e0;
        }
        primary {
          color: #040509;
          color: #080b12;
          color: #0c101b;
          color: #f2f0f0; 
          color: #141b2d;
          color: #1F2A40;
          color: #727681;
          color: #a1a4ab;
          color: #d0d1d5;
        }
        greenAccent {
          color: #0f2922;
          color: #1e5245;
          color: #2e7c67;
          color: #3da58a;
          color: #4cceac; 
          color: #70d8bd;
          color: #94e2cd;
          color: #b7ebde;
          color: #dbf5ee;
        }
        redAccent {
          color: #2c100f;
          color: #58201e;
          color: #832f2c;
          color: #af3f3b;
          color: #db4f4a;
          color: #e2726e;
          color: #e99592;
          color: #f1b9b7;
          color: #f8dcdb;
        }
        blueAccent {
          color: #151632;
          color: #2a2d64;
          color: #3e4396;
          color: #535ac8;
          color: #6870fa; 
          color: #868dfb;
          color: #a4a9fc;
          color: #c3c6fd;
          color: #e1e2fe;
        } */
