/* body {
    background-color: #222130;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    cursor: url('https://cur.cursors-4u.net/cursors/cur-2/cur113.cur'), auto;
    font-family: sans-serif;
  }  */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background-color: #222130;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: url("https://cur.cursors-4u.net/cursors/cur-2/cur113.cur"), auto;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(104, 112, 250, 0.01); /* Semi-transparent when not in use */
  border-radius: 10px;
  transition: background 0.1s ease-in-out;
}

/* Handle on hover or when scrolling */
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #6870fa; /* Fully opaque when in use or hovered over */
}
